{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Live Resume :: Home</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/vendors/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/live-resume.css' %}">
<!--    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">-->
</head>

<body>
    <header>

        <a href="{% static 'c.pdf' download %}" class="ml-auto mr-3 ml-md-0 mr-md-auto"> <button class="btn btn-white btn-share ml-auto mr-3 ml-md-0 mr-md-auto" >
            Download CV </button></a>
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="{% url 'home' %}" class="nav-link">HOME</a>
            <a href="" class="nav-link">RESUME</a>
            <a href="{% url 'portfolio' %}" class="nav-link">PORTFOLIO</a>
            <a href="" class="nav-link">BLOG</a>
            <a href="" class="nav-link">CONTACT</a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{% static 'assets/images/hamburger.svg' %}" alt="hamburger"></button>
    </header>
    <div class="content-wrapper">
        <aside>
            <div class="profile-img-wrapper">
                <img src="{% static 'assets/images/Profilee.png' %}" >
            </div>
            <h1 class="profile-name">{{myinfo.name}}</h1>
            <div class="text-center">
                <span class="badge badge-white badge-pill profile-designation">{{myinfo.post}}</span>
            </div>
            <nav class="social-links">
                <a href="{{myinfo.fb}}" class="social-link"><i class="fab fa-facebook-f"></i></a>
                <a href="{{myinfo.instagram}}" class="social-link"><i class="fab fa-instagram"></i></a>
                <a href="{{myinfo.linkedin}}" class="social-link"><i class="fab fa-linkedin"></i></a>

            </nav>
            <div class="widget">
                <h5 class="widget-title">Personal Information</h5>
                <div class="widget-content">
                    <p>BIRTHDAY : {{myinfo.dob}}</p>

                    <p>PHONE : {{myinfo.phone}}</p>
                    <p>MAIL : {{myinfo.email}}</p>
                    <p>Location : {{myinfo.location}}</p>
                    <a href="{% url 'portfolio' %}">
                    <button class="btn btn-download-cv btn-primary rounded-pill"> My Portfolio </button>
                    </a>
                </div>
            </div>
                        <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title">Skills</h5>
                        {% for s in skill %}
                        <p>{{s.title}}</p>

                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title">LANGUAGES</h5>
                        {% for languages in language %}
                        <p>{{languages.title}} : {{languages.rate}}</p>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="widget card">
                <div class="card-body">
                    <div class="widget-content">
                        <h5 class="widget-title card-title">INTERESTS</h5>
                        {% for interests in interest %}
                        <p>{{interests.title}}</p>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </aside>

    {% block content %}
    {% endblock content %}


        </div>
    <script src="{% static 'assets/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendors/@popperjs/core/dist/umd/popper-base.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/live-resume.js' %}"></script>
</body>

</html>