{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Live Resume :: Home</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/vendors/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/live-resume.css' %}">
<!--    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">-->
</head>

<body>
    <header>

        <button class="btn btn-white btn-share ml-auto mr-3 ml-md-0 mr-md-auto" >
            Download CV</button>
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="index.html" class="nav-link active">HOME</a>
            <a href="resume.html" class="nav-link">RESUME</a>
            <a href="portfolio.html" class="nav-link">PORTFOLIO</a>
            <a href="blog.html" class="nav-link">BLOG</a>
            <a href="contact.html" class="nav-link">CONTACT</a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{% static 'assets/images/hamburger.svg' %}" alt="hamburger"></button>
    </header>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'assets/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendors/@popperjs/core/dist/umd/popper-base.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/live-resume.js' %}"></script>
</body>

</html>