{% extends "base.html" %}
{% load static %}

{% block content %}
        <main>
            <section class="portfolio-section">
                <h2 class="section-title">PORTFOLIO</h2>
                
                <div class="card-group">
                    <div class="row">
                        <div class="col-6">
                              <div class="card">

    <a href="http://54.252.141.8/">
                                  <img class="card-img-top" src="{% static '1.jpg' %}" alt="Card image cap">
        </a>
    <div class="card-body">
      <h5 class="card-title">My Profile</h5>
      <p class="card-text">.</p>
    </div>
<!--    <div class="card-footer">-->
<!--      <small class="text-muted">Last updated 3 mins ago</small>-->
<!--    </div>-->
  </div>

                        </div>
                        <div class="col-6">
                              <div class="card">

    <a href="http://3.25.66.160/">
                                  <img class="card-img-top" src="{% static '2.jpg' %}" alt="Card image cap">
        </a>
    <div class="card-body">
      <h5 class="card-title">COM</h5>
      <p class="card-text">.</p>
    </div>
<!--    <div class="card-footer">-->
<!--      <small class="text-muted">Last updated 3 mins ago</small>-->
<!--    </div>-->
  </div>

                        </div>




</div>

            </section>
            <footer>Live Resume @ <a href="https://www.bootstrapdash.com" target="_blank" rel="noopener noreferrer">BootstrapDash</a>. All Rights Reserved 2020</footer>
        </main>

{% endblock content %}